@font-face {
    font-family: TheMixSemiBold-Plain;
    src: url("../font/TheMixPlain.otf");
}

@font-face {
    font-family: TheMixBlack-Caps;
    src: url("../font/TheMixBlack-Caps.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
}

.ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.ul > li{
    font-family: TheMixSemiBold-Plain;
    padding: 0 1em;
    font-size: 0.85rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
}

.ul > li  a{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.ul > li  a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 10ms;
}

.a-btn{
    background-color: #0078BE;
    border-radius: 30px;
    font-family: TheMixSemiBold-Plain;
    padding: 8px 30px !important;
    font-size: 14.4px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo{
    width: 94px;
    height: 158px;
    padding: 1em 0;
}

.logo img{
    width: 100%;
    height: auto;
}


.header-section{
    background-image: url("../img/slide1.jpg");
    background-attachment: fixed;
}

.title-section{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height: 700px;
}

.head-title > h2{
    color: #FFFFFF;
    font-family: TheMixBlack-Caps, Sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.foundation-section{
    margin: 20px 0 ;
}

.foundation-section > h2{
    color: #212121;
    font-family: TheMixBlack-Caps, Sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.foundation-continer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.sub-foundation{
    background-color: white;
    height: 513px;
    width: 222px;
    margin: 0px 15px 24px 15px;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 300ms ease-out 100ms;/* https://blog.hubspot.com/website/css-hover-animation */
    border-radius: 5px;
    text-align: center;
    font-family: TheMixSemiBold-Plain, Sans-serif;
}

.sub-foundation  p{
    color: #646464;
    font-size: 16px;
    font-weight: 400;
}
.sub-foundation  h2{
    font-family: TheMixBlack-Caps, Sans-serif;
    font-size: 20px;
}

.sub-foundation-img{
    /*I must ask about this*/
    width: 158.56px;
    height: 80px;
    margin-bottom: 11px;
}

.sub-foundation-img img{
    height: 100%;
}

.common-foundation:hover{
    background-color: #dce8ef;
}

.sustainability-foundation:hover{
    background-color: #ecefdc;
}

.social-foundation:hover{
    background-color: #f6e2e7;
}

.vision-section{
    background-image: url('../img/vision.png');
    background-attachment: fixed;
}

.vision-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.vision-div h2{
    color: #FFFFFF;
    font-family: "TheMixBlack-Caps", Sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0px;
    margin-bottom: 40px;
}